<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3>APIs</h3>
      <div class="column">
        <h4 style="<%= 'display:none;' if current_user.org_id %>">
            Create or Join an Organization to view/add API's.
        </h4> 
        <table class="table">
          <thead>
            <th>
              Name
            </th>
            <th>
              Last Updated
            </th>
          </thead>
          <tbody>
            <% @apis.each do |api| %>
              <tr>
                <%= render api %>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <br>
  <% if current_user.try(:admin?) && current_user.org_id %>
    <%= link_to 'New API', new_api_path, {:class => "btn btn-primary btn-large"} %>
  <% end %>
</div>
