<div class="container">
  <div class="row">
    <div class="col-md-12">
      <% content_for :title do %>About<% end %>
      <h3>GoPro API BluePrints</h3>
      <p>
        This application contains API Blueprint files that document GoPro services. <br />Please sign up for an account to be given access to GoPro APIs.
      </p>
    </div>
  </div>
</div>
