<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>DoxBox</title>

    <!-- CSS -->
    <%= stylesheet_link_tag 'bootstrap', media: 'all' %>
    
    <%= stylesheet_link_tag 'stylekit', media: 'all' %>

    <%= stylesheet_link_tag 'stylish-portfolio', media: 'all' %>


    <!-- Custom Fonts -->
    <!-- <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"> -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

</head>

<body>
<!-- Services -->
    <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->

        <div class="container">
            <div class="row text-center">
                <div class="col-lg-10 col-lg-offset-1">
                    <h2>Getting Started</h2>
                    <hr class="small">
                    <br />
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="service-item">
                                //Picture
                                <h4>
                                    Picture 1
                                    <!-- <br />
                                    <br />
                                    <hr class="small"> -->
                                </h4>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="service-item">
                                //Text
                                <h4>
                                    Text 1
                                    <!-- <br />
                                    <br />
                                    <hr class="small"> -->
                                </h4>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="service-item">
                                //Picture
                                <h4>
                                    Picture 2
                                    <!-- <br />
                                    <br />
                                    <hr class="small"> -->
                                </h4>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="service-item">
                                //Text
                                <h4>
                                    Text 2
                                    <!-- <br />
                                    <br />
                                    <hr class="small"> -->
                                </h4>
                            </div>
                        </div>
                    </div>



                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="service-item">
                                //Picture
                                <h4>
                                    Picture 3
                                    <!-- <br />
                                    <br />
                                    <hr class="small"> -->
                                </h4>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="service-item">
                                //Text
                                <h4>
                                    Text 3
                                    <!-- <br />
                                    <br />
                                    <hr class="small"> -->
                                </h4>
                            </div>
                        </div>
                    </div>




                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="service-item">
                                //Picture
                                <h4>
                                    Picture 4
                                    <!-- <br />
                                    <br />
                                    <hr class="small"> -->
                                </h4>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="service-item">
                                //Text
                                <h4>
                                    Text 4
                                    <!-- <br />
                                    <br />
                                    <hr class="small"> -->
                                </h4>
                            </div>
                        </div>
                    </div>




                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="service-item">
                                //Picture
                                <h4>
                                    Picture 5
                                    <!-- <br />
                                    <br />
                                    <hr class="small"> -->
                                </h4>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="service-item">
                                //Text
                                <h4>
                                    Text 5
                                    <!-- <br />
                                    <br />
                                    <hr class="small"> -->
                                </h4>
                            </div>
                        </div>
                    </div>




                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="service-item">
                                //Picture
                                <h4>
                                    Picture 6
                                    <!-- <br />
                                    <br />
                                    <hr class="small"> -->
                                </h4>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="service-item">
                                //Text
                                <h4>
                                    Text 6
                                    <!-- <br />
                                    <br />
                                    <hr class="small"> -->
                                </h4>
                            </div>
                        </div>
                    </div>












                    
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->


</body>

</html>
